# コンピュータリテラシ発展 第3回 課題

今回の課題は**リスト型**，**タップル型**，**辞書型**，**for文**，**while文**に関する問題を合計10問となっています．

問題の最後には結果を表示してください．

## リスト（List）に関する課題

**問題1:** 空のリストを作成し，そのリストに整数1,2,3を追加してください．

In [ ]:
lst = []      # 空のリストを作成
lst.append(1) # リストに1を追加
lst.append(2) # リストに2を追加
lst.append(3) # リストに3を追加
print(lst)    # リストの表示

[1, 2, 3]

extendを使う方法

In [ ]:
lst = []      # 空のリストを作成
lst.extend([1, 2, 3]) # リストに1,2,3を追加
print(lst)    # リストの表示

[1, 2, 3]

**問題2:** リスト`[10,20,30,40,50]`の要素を逆順に並び替えてください．

In [ ]:
lst = [10, 20, 30, 40, 50] # リストを作成
lst_rev = []               # 逆順を入れる空のリストを作成
j = -1                     # 逆順用のインデックス用変数

for i in lst:              # lstの内容をiに入れてfor文を回す
  lst_rev.append(lst[j])   # lst_revにlstのインデックスjの要素を追加
  j -= 1                   # jに-1を足してインデックスを左にずらす

print(lst_rev)             # リストの表示

`reverse()` メソッドを使う方法もあります

In [ ]:
lst = [10, 20, 30, 40, 50]  # リストを作成
lst.reverse()               # リストの逆順に並べ替える
print(lst)                  # リストの表示

[50, 40, 30, 20, 10]

スライスを使う方法もあります

In [ ]:
lst = [10, 20, 30, 40, 50]  # リストを作成
lst = lst[::-1]             # スライスを使ってlstの要素を逆順にしてlstに入れる
print(lst)                  # リストの表示

[50, 40, 30, 20, 10]

## タプル（Tuple）に関する課題

**問題3:** 複数の整数を含むタプル`(1,2,3,4,5)`を作成し，その要素数を表示してください．

In [ ]:
tpl = (1, 2, 3, 4, 5)           # タプルを作成
print(len(tpl))                 # タプルの要素数を表示

(1, 2, 3, 4, 5)

**問題4:** 問題3で作成したタプルを利用して，インデックス3の位置にある要素を表示してください．

In [ ]:
print(tpl[3])                   # 作成したタプルのインデックス「3」の要素を表示

4

## 辞書（Dict）に関する課題

**問題5:** 辞書 `{'name': 'Alice', 'age': 30, 'city': 'New York'}` からキー `'age'` に対応する値を取得してください．

In [ ]:
Human = {'name': 'Alice', 'age': 30, 'city': 'New York'}  # 辞書を作成
print(Human['age'])                                       # 辞書で'age'キーに対応するバリューを表示

30

**問題6:** 辞書 `{'x': 10, 'y': 20, 'z': 30}` のキーと値をすべて表示してください。

In [ ]:
num = {'x': 10, 'y': 20, 'z': 30}   # 辞書を作成
for k, v in num.items():            # num.items()を使ってキーとバリューをk, vにいれる
  print(k, v)                       # k, vを表示

x 10
y 20
z 30

## 繰り返し（for文）に関する課題

**問題7:** 1から10までの整数をforループを使用して表示してください．

In [ ]:
for num in range(1,11):             # for文とrange()関数を使って1から10までの値をnumにいれる
  print(num)                        # numを表示

1
2
3
4
5
6
7
8
9
10

**問題8:** リスト `['cat', 'dog', 'rabbit', 'mouse']`の各要素をインデックスと共に表示してください．

In [ ]:
Animal = ['cat', 'dog', 'rabbit', 'mouse']
for i, animal in enumerate(Animal):
  print(i, animal)

0 cat
1 dog
2 rabbit
3 mouse

## 繰り返し（while文）に関する課題

**問題9:** 1から50までの整数をwhileループで表示し，5と7の最小公倍数が表示されたら表示を終了してください．

In [ ]:
num = 1     # 初期値
while num <= 50:    # whileで50まで繰り返す
    print(num)      # 整数を表示
    if num % 5 == 0 and num % 7 == 0:   # 5と7の最小公倍数かを確認
        break  # 最小公倍数が見つかったらループを終了
    # 次の整数に進む
    num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

**問題10:** 1月から12月までの英語表記のリストを作成して，whileループで表示し，今月(4月)が表示されたら表示を終了してください．

In [ ]:
# 月の英語表記のリストを作成
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
i = 0                           # 初期化
while i < 12:                   # whileループで月の英語表記を順番に表示
    print(months[i])            # 月の英語表記を表示
    if months[i] == 'April':    # monthsのインデックスiがAprilか否かを確認
        break                   # breakでwhileを終了
    i += 1                      # iに1を足す

January
February
March
April